.wrapper {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #2b2b2b;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
  height: min-content;
  position: relative;
}

.blockInfo {
  margin-right: 7rem;
}

.blockParagraph {
  margin: 0;
  color: #b3b3b3;
  font-size: 10rem;
}

.blockHeading {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.blockImage {
  height: 80%;
  right: 0;
  transform: translateX(50%);
  display: block;
  position: absolute;
}

@media screen and (max-width: 630px) {
  .blockInfo {
    margin-right: 0;
  }

  .blockImage {
    height: 30%;
    top: 0;
    transform: translate(30%, -40%);
  }
}

@media screen and (max-width: 420px) {
  .blockParagraph {
    font-size: 4vw;
  }

  .blockHeading {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  .wrapper {
    padding: 8vw;
    gap: 8vw;
  }
}
