button {
  font-family: "Montserrat", "sans-serif";
  display: flex;
  align-items: center;
  border: none;
  background: linear-gradient(45deg, #fcf5a2, #c9a751);
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 100px;
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  gap: 1rem;
}

.buttonBig {
  padding: 0.75rem 2.25rem;
  font-size: 1.3rem;
  gap: 2rem;
}

button:hover {
  transition: 0.5s;
  scale: 1.1;
}

.buttonTransparent {
  background: none;
  padding: 0;
  border-radius: 0;
}
