.extraWrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 10rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

.extraWrapper > *:nth-child(3n) {
  grid-column: span 2;
}

@media screen and (max-width: 1000px) {
  .extraWrapper {
    grid-template-columns: 1fr;
  }

  .extraWrapper > *:nth-child(3n) {
    grid-column: span 1;
  }
}

@media screen and (max-width: 710px) {
  .extraWrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .extraWrapper {
    padding: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .extraWrapper {
    margin: 0 auto 40vw;
  }
}
