.cardContainer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 10rem;
  padding: 0 2rem;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 710px) {
  .cardContainer {
    width: 100%;
  }
}
