.mainBackground {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: #111111;
  position: relative;
  transition: 0.1s;
  margin-bottom: 10rem;
}

.mainGradient {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#111111, #11111100);
  position: absolute;
  top: 100vh;
  top: 100svh;
}

.mainWrapper {
  margin: auto;
  padding: 0 2rem;
  max-width: 1140px;
  width: 100%;
  height: 100%;
}

.heroContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 2rem;
  max-width: 1140px;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.heroParagraph {
  color: #fff;
  font-size: 1.4rem;
  max-width: 430px;
  margin: 0;
}

.heroScroll {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
}

.image {
  height: 280%;
  position: absolute;
  top: -85%;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }

  .mainBackground {
    background-color: transparent;
  }

  .mainGradient {
    background: transparent;
  }

  .mainWrapper {
    margin-bottom: 10rem;
  }

  .heroContainer {
    transform: translate(-50%, calc(-50% - 2rem));
  }

  .heroScroll {
    bottom: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .mainWrapper {
    padding: 0 8vw;
  }

  .heroContainer {
    padding: 0 8vw;
  }
}

@media screen and (max-width: 420px) {
  .heroHeading {
    font-size: 12vw;
  }

  .scrollParagraph {
    font-size: 4vw;
  }

  .heroParagraph {
    font-size: 5vw;
  }

  .mainWrapper {
    margin-bottom: 40vw;
  }
}
