.cardContainer {
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cardImage {
  width: 25%;
}

.upperBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.tag {
  color: #fff;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 0.5em 1.2em;
  width: fit-content;
  margin: 0;
}

.controlsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.cardHeading {
  color: #fff;
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

.cardParagraph {
  color: #b3b3b3;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .cardContainer {
    padding: 8vw;
    gap: 8vw;
  }

  .controlsBlock {
    gap: 6vw;
  }

  .tag {
    font-size: 4vw;
    padding: 2vw 4vw;
  }

  .cardHeading {
    font-size: 6vw;
  }

  .cardParagraph {
    font-size: 4vw;
  }
}
