@font-face {
  font-family: Calypso;
  src: url("./fonts/Calypso.ttf");
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-family: "Calypso", "sans-serif";
  font-weight: 100;
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-family: "Calypso", "sans-serif";
  font-weight: 100;
  color: #fff;
  font-size: 3rem;
  margin: 0 0 3rem 0;
  text-align: center;
  padding: 0 2rem;
  z-index: 0;
  position: relative;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.swiper-pagination-bullet-active {
  background: #fcf5a2 !important;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination {
  bottom: 30px;
}

.swiper-wrapper {
  margin-bottom: 3rem;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.swiper {
  z-index: 0;
}

#phaser-game {
  position: fixed;
  top: 0;
  pointer-events: none;
}

@media screen and (max-width: 710px) {
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    width: 80vw;
  }

  h2 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    padding: 0 4vw;
  }
}
