.backgroundContainer {
  position: fixed;
}

.backgroundImage {
  position: absolute;
  top: -60vmax;
  left: -50vmax;
  width: 200vmax;
  height: 200vmax;
  animation: 200s linear 0s normal none infinite running rotation;
  -webkit-animation: 200s linear 0s normal none infinite running rotation;
}

.backgroundImage:last-child {
  animation-direction: reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
